body {
    margin: 0;
}

.hero-image {
    background-image: url("./images/pouring\ painting.png");
    height: 700px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-heading {
    margin: 0;
    color: white;
    font-size: 115px;
    position: absolute;
    top: 80px;
    left: 80px;
    padding: 0;
}

.hero-subheading {
    margin: 0;
    color: white;
    font-size: 50px;
    position: absolute;
    left: 110px;
    top: 250px;
}

.hero-paragraph {
    margin: 0;
    color: white;
    font-size: 30px;
    position: absolute;
    left: 110px;
    top: 350px;
}

.noise-headings {
    font-size: 60px;
    position: absolute;
    top: 750px;
    left: 110px;
}

.waves {
    width: 800px;
    height: 450px;
}

