@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&family=Poppins:ital,wght@0,400;0,700;1,200&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', 'Noto Sans JP';
}

/* css for hero section */
.hero-image {
    background-image: url("./images/pouring\ painting.png");
    height: 700px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-heading {
    margin: 0;
    color: white;
    font-size: 115px;
    font-weight: 400;
    position: absolute;
    top: 80px;
    left: 80px;
    padding: 0;
}

.hero-subheading {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: 400;
    position: absolute;
    left: 110px;
    top: 250px;
}

.hero-paragraph {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    left: 110px;
    top: 350px;
}

/* pink noise header styles and position on website */
.pink-noise-heading {
    font-size: 60px;
    font-weight: 700;
    color: #25293B;
    position: absolute;
    top: 738px;
    left: 110px;
}

/* green noise header styles and position on website */
.green-noise-heading {
    font-size: 60px;
    font-weight: 700;
    color: #25293B;
    position: absolute;
    top: 2053px;
    left: 110px;
}

/* brown noise header styles and position on website*/
.brown-noise-heading {
    font-size: 60px;
    font-weight: 700;
    color: #25293B;
    position: absolute;
    top: 3368px;
    left: 110px;
}

/* video position and size on website */
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 265px 60px;
}

.noise-videos {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}

/* styles for quote background */
.quote {
    background-color: #F3E1DD;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* styles for actual quote text*/
.quote-place-size {
    font-size: 50px;
    font-weight: 200;
    font-style: italic;
    color: #25293B;
    text-align: center;
    width: 60%;
}

.second-quote-place-size {
    font-size: 50px;
    font-weight: 200;
    font-style: italic;
    color: #25293B;
    text-align: center;
    width: 45%;
}

.quote-text {
    margin-bottom: 10px;
    margin-top: 0;
}

/* styles for website footer */
.page-footer {
    background-color: #F3E1DD;
    height: 300px;
}